<nav class="navbar navbar-expand-lg navbar-light " *ngIf="user" style="background-color: #17185f;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../assets/img/logo.png" width="150"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            </ul>
            <form class="d-flex">
                <button type="button" pButton pRipple label="" (click)="menu.toggle($event)" style="
                    background: #162e63;
                    color: #ffffff;
                    border-color: #2563eb;
                ">  <mat-icon>perm_identity</mat-icon></button>
                <p-menu #menu [popup]="true" [model]="MenuItem"></p-menu>

            </form>
        </div>
    </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>