<div class="container-fluid user-table mt-8">
    <div class="row">
        <div class="col-10">

        </div>
        <div class="col-2" style="margin-bottom: 10px;">

            <button pButton type="button" label="Create" class="p-button-success" routerLink="add" style="width:10rem"></button>


        </div>

    </div>


    <p-table [value]="items" [paginator]="true" [rows]="4">
        <ng-template pTemplate="header" [sortable]="true">
            <tr>
                <th class="header-col">Name</th>
                <th class="header-col">email</th>
                <th class="header-col">Role</th>
                <th class="header-col">Actions</th>
                <th class="header-col"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.role }}</td>
                <td>
                    <button pButton type="button" label="Edit" class="p-button-warning" (click)="editItem(item)"></button>

                </td>
                <td>
                    <!-- <button pButton type="button" label="Create" class="p-button-warning" (click)="editItem(item)"></button> -->

                </td>
            </tr>
            <!-- <tr *ngIf="!users">
                <td colspan="4" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr> -->
        </ng-template>
    </p-table>
</div>